.login-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper{
    border: solid;
    padding: 30px;
    height: 300px;
    width: 300px;
}